.group-memo_schiko {
    background: url(../icons/schiri.svg) 3px 2px no-repeat;
    background-position: 0;
}
.col_saison {
    display: inline-block;
    width: 45%;
    white-space: pre-wrap;
}
.col_referee {
    display: inline-block;
    width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.col_round {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
}
.col_status {
    width: 100px;
    float: right;
}
.col_status > span {
    padding: 6px 5px;
    border-radius: 3px;
    font-size: 10px;
    text-transform: uppercase;
    min-width: 100px;
    text-align:center;
    display: inline-block;
}
.col_status .cancel {
    background: #990000;
    color: white;
}

.col_status .booked {
    background: #009900;
    color: white;
}
.col_status .possible {
    background: #cc9900;
    color: white;
}
.tl_listing .decline,
.tl_listing .accept {
    display: inline-block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin-right:5px;
    vertical-align: middle;
}

.schiko-mail-icon img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.schiko_export_idcard {
    background: white;
    margin-left: 5px;
}
.schiko_export_idcard img {
    width: 18px;
}

.colums4 .sortable {
    columns: 4;
}
