.schiko_survey .schiko_survey--content {
    position: relative;
    display: block;
    background: #efefef;
    padding: 0;
    border: 10px solid transparent;
    border-width: 5px 10px;
    margin: 0 0 1rem;
    box-sizing: border-box;
    min-height: 6rem;
}
.schiko_survey .schiko_survey--title {
    background: #333;
    color: white;
    padding: 3px 5px;
}

.schiko_survey h4 {
    margin: 0 0 5px;
    font-weight: 700;

}

.schiko_survey .btn--success,
.schiko_survey .btn--cancel{
    background: #0b5a0e;
    color: white;
    border: 0;
    padding: 0.3rem 1rem;
    transition: background-color 0.5s ease;
}

.schiko_survey .btn--cancel {
    background: #990000;
}

.schiko_survey .btn--hide {
    display: none;
}

.schiko_survey .btn--success:hover {
    background: #237B29;
    cursor: pointer;
}
.schiko_survey--content:after {
    content: '';
    opacity: 0;
}

.schiko_survey .checkmark--success:after,
.schiko_survey .checkmark--cancel:after,
.schiko_survey .checkmark--reserved:after {
    content: '';
    opacity: 1;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    background-image: url(/bundles/schiko/img/checkmark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    transition: opacity 0.5s ease;
}

.schiko_survey .checkmark--reserved:after {
    background-image: url(/bundles/schiko/img/checkmark-reserved.svg);
}

.schiko_survey .checkmark--cancel:after {
    background-image: url(/bundles/schiko/img/rejected.svg);
}

.schiko_survey--content:before{
    position: absolute;
    display: block;
    left: -10px;
    right: -10px;
    bottom: -5px;
    content: "";
    height: 2px;
    background: #ff413c;
    opacity: 1;
}

.schiko_survey--content.mark--success:before {
    background: #00cc66;
}

.toast-wrapper {
    position: fixed;
    top: 75%;
    right: 10px;
    z-index: 9999999999999999999999;
}

.toast {
    padding:0.75rem 2rem;
    margin-top: 5px;
    border-radius: 0px;
    transform: translateX(120%);
    transition-property: transform;
    transition-duration: 0.75s;
    transition-delay: 0s;
    font-size: 2.4rem;
}
.toast_show {
    transform: translateX(0);
}

.success {
    background: #009900;
    color: white;
}


.ce_schiko_gallery .card-flip {
    position: relative;
    background-color: transparent;
    perspective: 1000px;
}

.ce_schiko_gallery .card-flip__content {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
}

.ce_schiko_gallery .card-flip:hover .card-flip__content {
    transform: rotateY(180deg);
    cursor: pointer;
}

.ce_schiko_gallery .card-flip__front {
    z-index: 1;
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.ce_schiko_gallery .card-flip__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: #FFF;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.ce_schiko_gallery .card-flip__back dl dt,
.ce_schiko_gallery .card-flip__back dl dd {
    display: block;
    flex: none;
    margin: 0;
    width: 100%;
    border-width: 0;
}

.schiko_member_lbx h2 {
    margin: 0 0 2rem;
}

.ce_schiko_gallery .gallery__item h2 {
    display: block;
    padding: 3px;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1em;
    text-align: center;
    color: #fff;
    background-color: #bc2617;
}

.ce_schiko_gallery .gallery__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #efefef;
    height: 100%;
}

.ce_schiko_gallery .gallery__item a {
    flex: 1 1 100%;
}

.ce_schiko_gallery .dummy {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 16.6rem;
    overflow: hidden;
}

.schiko_member_lbx figcaption {
    font-size: 1.2rem;
    text-align: center;
}
.schiko_member_lbx .featherlight-content {
    max-width: 45rem;
}

.schiko_member_lbx .featherlight-content .gallery__item__lightbox {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
}

.gallery__item__lightbox__image {
    background: linear-gradient(180deg, rgb(255, 255, 255) 20%, rgb(220, 220, 220) 100%);
    border: 1px solid #efefef;
}

.schiko_member_lbx .image_container {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
}

.schiko_member_lbx .featherlight-content dl {
    margin: 0;
}

.schiko_member_lbx .featherlight-content dl dt {
    flex: 0 1 40%;
}
.schiko_member_lbx .featherlight-content dl dd {
    margin: 0;
    text-align: right;
}
